/* common shared styles */
body{
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

.banner{
    width: 75%;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    background-image:url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent, rgb(58, 32, 29)),
    url("/resources/Banner\ Image.png");
}
.text1{
    color: #FFF;
    margin-bottom: 16px;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    
}
.text2{
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    max-width: 700px;
    
}

/* .saf{ */
    width: 1600px;
    height: 7335px;
 }

 .off{
    
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    height: 7335px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.OFF1-text{
    color: #F00;
    margin-top: 50px;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.OFF2-text{
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.OFF3-text{
    color: #070211;
    margin-top: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.off-img{
    margin: 0 auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}




