/* common shared styles */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

.banner {
    width: 75%;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, transparent, rgb(58, 32, 29)),
        url("/resources/Banner\ Image.png");
}

.text1 {
    color: #FFF;
    margin-bottom: 16px;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;

}

.text2 {
    color: #ffffff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    max-width: 700px;

}

/* .saf{ */
width: 1600px;
height: 7335px;
}

.off {

    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    height: 7335px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.OFF1-text {
    color: #F00;
    margin-top: 50px;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.OFF2-text {
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.OFF3-text {
    color: #070211;
    margin-top: 16px;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.off-img {
    margin: 0 auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welcome section styles */
.welcome {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 150px;
    background-image: url(/resources/Vectorrr.png);
    background-repeat: no-repeat;
    height: 600px;
    background: linear-gradient(to left, transparent, rgb(58, 32, 29)),
        url("/resources/Vectorrr.png");


}

.text .welcome-title h1 {
    width: 642px;
    height: 176px;
    justify-content: left;
    padding-top: 126px;
    padding-left: 126px;
    padding-right: 552px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;

}

.text .welcome-title p {
    width: 697px;
    height: 60px;
    justify-content: left;
    padding-left: 126px;
    margin-top: 24px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.text .welcome-title h3 {
    justify-content: left;
    padding-left: 158px;
    margin-top: 48px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.welcome-img {
    position: absolute;
    left: 863px;
    top: 68px;
}

.time {
    margin-top: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.time .red-text {
    color: #F00;
}

.btn-join {
    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 64px;
}

.coming {
    padding-top: 150px;
    max-width: 1320px;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    margin: 0 auto;

}

.left-text {
    text-align: left;
    margin-top: 100px;
}

.nbo {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cs {
    margin-top: 24px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.dolor {
    margin-top: 24px;
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.coming .cs-picture {
    position: absolute;
    display: block;
    margin-left: 500px;
    border: 15px solid red;
    padding: 30px;
    border-radius: 364.844px;


}

.right-text {
    text-align: right;
    margin-top: 100px;

}

.right-text-paragraph1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-text-paragraph2 {
    margin-top: 10px;
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.hn-year {
    margin-top: 50px;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    padding-bottom: 70px;
}

.holidays {
    padding-top: 150px;
    max-width: 1320px;
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}

.holidays-section-text {
    text-align: center;

}

.wif {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holi-sale {
    margin-top: 10px;
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.holi-sale .sale-red {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}

.hp {
    margin-top: 28px;
    padding: 10px 10px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}


.red-picture {
    position: absolute;
    margin-top: 500px;
}

.box-picutre {
    position: absolute;
    padding-top: 70px;
    padding: left 30px;

}

.female-picture {
    position: absolute;
    padding-top: 67px;
    margin-left: 891px;
}

.discount-picture {
    position: absolute;
    padding-top: 160px;
    margin-left: 700px;
}

.giftpart{
    padding-top: 150px;
    max-width: 1320px;
    max-width: 1320px;
    margin: 0 auto;

}





